.country-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: none; /* JS toggles this */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.country-modal.show {
  display: flex !important;
}

.country-modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

#country-list {
    padding-left: 0!important;  
}
#country-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#country-list li:hover {
  background-color: #f3f3f3;
}
