@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('/gm_survey/static/src/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/gm_survey/static/src/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Prompt';
    font-weight: normal;
    src: url('/gm_survey/static/src/fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Prompt';
    font-weight: 900;
    src: url('/gm_survey/static/src/fonts/Prompt-Black.ttf') format('truetype');
}
